.banner {
  background-image: url("../../images/background.png");
  height: 500px;
  width: 100%;
  background-size: cover;
  margin-top: -23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_container h1 {
  color: white;
}

.banner_container p {
  color: rgb(154, 150, 150);
}
.banner_container .btn {
  background-color: #1edd88;
  border: 1px solid rgb(74, 72, 72, 0.6);
  border-radius: 24px;
  color: white;
  padding: 12px 24px;
  width: 82px;
  height: 23px;
  padding: 15px 36px;
  align-items: center;
  display: flex;
  text-align: center;
}

.container h2 {
  text-align: center;
}
.container .cards {
  display: flex;
  margin-left: 5px;
  justify-content: space-evenly;
}
.container .cards .card {
  height: 270px;
  width: 250px;
  box-shadow: 0 0 5px rgb(230 230 230);
  border: 1px solid rgb(230, 230, 230);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container .card_img {
  height: 130px;
  width: 100px;
}

.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;
  margin-top: 20px;
  color: #6b6c6c;
  font-family: Open Sans;
}

.footer .fa-brands {
  color: #26b96d;
}
